doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Bilingual Word Counter
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href="css/style.css")
    link(rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>😸</text></svg>")
    //- google fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet")
  body
    div.card
      span(style='--i:0;')
      span(style='--i:1;')
      div.glass
        textarea.text-area(autofocus placeholder='Your sentence here...')
        div#counter 0
    script(src="script.js")